<h1> <%= @user.email %>'s reviews </h1>
<%= link_to('add a review !!', create_review_path) %>
<br />
<br />

<% @user.reviews.each do |review| %>
  <div class="card-1">
  	  <b>From: </b> anonymous
  	<br />
      <b>Rating:</b>
      <%= review.rate %>
    <br />
      <b>Description:</b>
      <%= review.description %>
    <br />
  </div>
<% end %>
