<h1> <%= @user.email %>'s reviews </h1>
<%= link_to('add a review anonymously!!', create_review_path) %>
<br />
<br />

<% @user.reviews.each do |review| %>
  <div>
      <b>Rate:</b>
      <%= review.rate %>
    <br />
      <b>Description:</b>
      <%= review.description %>
    <br />
    <br />
  </div>
<% end %>
