
<body>
  <h1> Welcome to the Oski Exchange </h1>

  <p>
    though our site is temporarily under construction, as of right now you can see a list of the users and currently
    using our site. these users will each have a page of their own which will show the exchange requests they have, their
    past exchanges, and their ratings.
  </p>
  
  <%= link_to('users', users_path) %>
</body>
