
<body>
  <h1> Welcome to the Oski Exchange </h1>

  <div>

    <% @posts.reverse_each do |post| %>
      <div class="post">
        title: <%= post.title %> <br />
        price: <%= post.price %> <br />
        description: <%= post.description %> <br />
        poster: <b><%= post.user.email %></b> <br />
      </div>
      <br />
      <br />
    <% end %>

  </div>
</body>
