/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
}
body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 200;
  background: #e2e1e0;  /* fallback for old browsers */
/*  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); */ /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to left, #8E54E9, #4776E6); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer {
  margin-left: 5%;
  margin-bottom: 3%;
  height: 10%;
  font-size: 0.75em;
  color: silver;
  position: fixed;
  bottom: 1em;
  left: 1em;
  color: #fff;
}
footer a {
  color: #f80;
}
header {
  margin: 2em 0;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-align: left;
}
h1 {
  font-weight: 400;
  font-size: 3em;
}
h2 {
  font-weight: 300;
  margin-top: 0.5em;
}
section {
  position: left;
  margin: 1.5em auto;
  width: 400px;
}
button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 50%;
  padding: .7em 1em;
  margin: 4em auto 3em;
  color: #fff;
  /* background: #F06292; */
  background: #81D4FA;
  box-shadow: 10px -10px 300px rgba(63, 200, 201, .6);
  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button .fa {
  font-size: 65px;
  line-height: 170px;
  margin: 0;
  text-shadow: 1px 2px 2px #2a8b90;
}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.7);
}
button:focus {
  outline: 0;
}
.intro {
  margin-left: 5%;
}
.developer {
  margin-left: 5%;
  margin-bottom: 1%;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.0em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}
.fa-github::before {
    content: "\f09b";
}

body {
  background: #e2e1e0;
}

.card-1 {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 150px;
  width: 300px;
  margin: 1rem;
  position: relative;

  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  overflow-y: auto;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
